

.card-container{
    width: 260px;
    height: 350px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 17px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-container:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(52, 52, 52, 0.2);
    .img{
        transform: scale(1.05);
    }
}

.img{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 260px;
    height: 170px;
    background-color: antiquewhite;
    background: url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==);
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
}

.content-card{
    margin-top: 176px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.wrap-head{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.wrap-head .title-card{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #9D9D9D;
    font-size: 10px;
}

.wrap-head .heading-card{
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}

.wrap-head .description{
    font-size: 10px;
    color: #666666;
}

.user-card-wrap{
    border-top: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    padding-top: 7px;
}

.user-card-wrap .user-avt-card{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #90cef7;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.user-card-wrap .user-name-card{
    font-size: 12px;
    color: #333333;
    margin-top: 4px;
}

.wrap-pj{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 206px;
    position: absolute;
    top: 17px;
    left: 17px;
}
.tag-project{
    background-color: rgba(244, 144, 51, 0.8);
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 14px;
    color: #ffffff;
}
.status{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #4CAF50;
}

