body{
    font-family: 'Inter';
}

:root{
    /* Xai chung cho tat ca */
    --primary-color: #4080ff;
    --accent-color: #F8F8F8;
    --bg-accent: #f6f6f6;
    --white: #FFFFFF;

    --shadow: 3px 3px 4px 0px #00000033, -5px -5px 4px 0px #FFFFFF;

    --text-color: #000000;

    
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: var(--width-header);
    margin: 0 auto;
    border-radius: 30px 30px 0 0 ;
    padding: 20px 30px;
    background: var(--white);
    font-family: 'Inter';
    box-shadow: var(--shadow-premium);
}

.footer .frame1 {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer .frame1 .item1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer .frame1 .item1 .logo {
    text-decoration: none;
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
    span {
        color: var(--primary-color);
    }
}
.footer .frame1 .item1 .discript {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer p {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}

.footer .frame1 .wrap {
    display: flex;
    flex-direction: row;
    width: 70%;
    max-width: 683px;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .frame1 .wrap .item2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer .frame1 .wrap .item2 .title {
    color: var(--primary-color);
    font-size: 24px;
}

.footer .frame1 .wrap .item2 .option {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .line {
    width: 100%;
    max-width: 1280px;
    height: 1px;
    background-color: var(--text-color);
    margin: 30px 0;
}
.footer .coppyright {
    color: var(--text-color);
    font-size: 16px;
}

.footer p:hover{
    color: var(--primary-color); 
}

/* responsive */
@media (max-width: 1380px) {
    .footer .frame1{
        max-width: 1000px;
        margin: 0 auto;
    }
    .footer .wrap {
        display: flex;
        flex-direction: row;
        width: 70%;
        max-width: 683px;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer .wrap .item2 {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .footer .line {
        max-width: 1000px;
    }
}

@media (max-width: 1100px) {
    .footer .frame1 {
        flex-direction: row;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    .footer .frame1 .wrap {
        width: 100%;
        max-width: 500px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
    }

    .footer .line {
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .footer .frame1 {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footer .frame1 .wrap {
        display: flex;
        flex-direction: column;
        width: 70%;
        max-width: 390px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .footer .line {
        max-width: 390px;
    }

    .footer .coppyright{
        font-size: 12px;
        text-align: center;
    }
}

@media (max-width: 420px) {
    .footer .frame1 {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .wrap {
        display: flex;
        flex-direction: column;
        width: 70%;
        max-width: 360px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .footer .line {
        max-width: 360px;
    }

    .footer .coppyright{
        font-size: 12px;
        text-align: center;
    }
}