body{
    font-family: 'Inter', sans-serif;

}

:root {
    --width-header: 1280px;
    --height-header: 90px;

    --font-header: 24px;
}

.hamburger-bar{
    display: none;
    filter: drop-shadow(0px 1px 1px #00000071);
}
header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: var(--shadow);
}
.container-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: var(--width-header);
}   

.wrap-left{
    display: flex;
    align-items: center;
    gap: 44px;
}

.wrap-left .logo{
    text-decoration: none;
    font-size: var(--font-header);
    color: var(--black);
    
}
.wrap-left .logo span{
    color: var(--primary-color);
}

navbar{
    display: flex;
    align-items: center;
    gap: 30px;
}

navbar .item{
    text-decoration: none;
    color: var(--black);
    font-size: var(--font-item);
    cursor: pointer;
}

.active{
    color: var(--primary-color) !important;
}

.wrap-right{
    display: flex;
    align-items: center;
    gap: 32px;
}
.search{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #d7d6d6;
    box-sizing: border-box;
    padding: 10px 30px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.search:hover{
    box-shadow: var(--shadow);
}

.search:focus-within{
    border-color: var(--primary-color);
}
.search .icon-search{
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-top: -3px;
}
.search input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 150px;
}

.user-box{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.user-box .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a7a7a7;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    
}
.user-box .info-and-setting{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.user-box .user-name{
    font-size: 16px;
    color: var(--text-color);
    font-weight: 500;
}
.user-box .user-setting{
    font-size: 14px;
    color: #585858;
}

.notic {
    display: flex;
    justify-content: center;
    align-items: center;
}
.belt{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
}

.belt:hover{
    color: var(--primary-color);
}

.line{
    width: 1px;
    height: 48px;
    background-color: #d7d6d6;
}

/* responsive */
@media (max-width: 1380px) {
    :root {
        --width-header: 1000px;
        --font-header: 24px;
        --font-item: 14px;
    }

    .user-box{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
    .user-box .avatar{
        
    }
    .user-box .info-and-setting{
        display: none;
    }
    .wrap-right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 32px; */
    }
}

@media screen and (max-width: 1050px) {
    :root{
        --width-header: 720px;
        /* --font-header: 20px;
        --font-item: 12px; */
    }

    navbar{
        display: none;
    }

    .hamburger-bar{
        display: block;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    :root{
        --width-header: 390px;
        /* --font-header: 18px;
        --font-item: 10px; */
    }   
    .search{
        display: none;
    }
}
@media screen and (max-width: 420px) {
    :root{
        --width-header: 340px;
        /* --font-header: 18px;
        --font-item: 10px; */
    }   
    .search{
        display: none;
    }

    .wrap-right{
        display: flex;
        align-items: center;
        gap: 16px;
    }
}