body{
    font-family: 'Inter', sans-serif;

}

:root {
    --width-header: 1280px;
    --height-header: 90px;

    --second-color: #757575;

    --font-header: 24px;
}




.hamburger-bar{
    /* Mask cho Chrome/Safari/Edge */
    -webkit-mask-image: url(../img/Hamburger.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    /* Mask chuẩn */
    mask-image: url(../img/Hamburger.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    
    background-color: var(--bar-color) !important;

    width: 38px;
    height: 38px;
    display: none;
    cursor: pointer;

}
header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: var(--shadow);
}
.container-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: var(--width-header);
}   

.wrap-left{
    display: flex;
    align-items: center;
    gap: 44px;
}

.wrap-left .logo{
    text-decoration: none;
    font-size: var(--font-header);
    color: var(--black);
    
}
.wrap-left .logo span{
    color: var(--primary-color);
}

navbar{
    display: flex;
    align-items: center;
    gap: 30px;
}

navbar .item{
    text-decoration: none;
    color: var(--black);
    font-size: var(--font-item);
    cursor: pointer;
}

.active{
    color: var(--primary-color) !important;
}

.wrap-right{
    display: flex;
    align-items: center;
    gap: 16px;
}
.search{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #d7d6d6;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.search:hover{
    box-shadow: var(--shadow);
}

.search:focus-within{
    border-color: var(--primary-color);
}
.search .icon-search {
    /* Mask cho Chrome/Safari/Edge */
    -webkit-mask-image: url(../img/main/header-img/search-icon.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    /* Mask chuẩn */
    mask-image: url(../img/main/header-img/search-icon.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    /* Các thuộc tính hiển thị */
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color: var(--second-color); /* Đây là màu của icon sau khi mask */
    z-index: 10000;
}

.search input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 150px;
}

.user-box{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.user-box .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a7a7a7;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    
}
.user-box .info-and-setting{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.user-box .user-name{
    font-size: 16px;
    color: var(--text-color);
    font-weight: 500;
}
.user-box .user-setting{
    font-size: 14px;
    color: #585858;
}

.user-box .user-setting:hover{
    color: var(--primary-color);
}

.notic {
    display: flex;
    justify-content: center;
    align-items: center;
}
.belt{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-color);
    cursor: pointer;
}

.themDuAn{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}


.title{
    font-size: 16px;
    color: var(--white);

}

.dauCong{
    /* Mask cho Chrome/Safari/Edge */
    -webkit-mask-image: url(../img/main/header-img//add_ad_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    /* Mask chuẩn */
    mask-image: url(../img/main/header-img/add_ad_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    display: block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: var(--white);
}

.belt:hover{
    color: var(--primary-color);
}

.line{
    width: 1px;
    height: 48px;
    background-color: #d7d6d6;
}

.mobile-menu {
    position: fixed;
    top: 0px; 
    right: 0;
    width: 45%;
    height: 100vh; 
    background-color: #ffffff;
    box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.384);
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.mobile-menu .item {
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    font-size: 16px;
}

.mobile-menu .search{
    display: none;
}

.mobile-menu.active {
    transform: translateX(0);
}

.mobile-menu .thongBao{
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile-menu .thongBao .belt {
    width: 15px;
    height: 15px;
    color: var(--text-color);
}

.hamburger-bar {
    cursor: pointer;
}

/* responsive */
@media (max-width: 1380px) {
    :root {
        --width-header: 1000px;
        --font-header: 24px;
        --font-item: 14px;
    }

    .user-box{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
    .user-box .avatar{
        
    }
    .user-box .info-and-setting{
        display: none;
    }
    .wrap-right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 32px; */
    }
}

@media screen and (max-width: 1050px) {
    :root{
        --width-header: 720px;
        /* --font-header: 20px;
        --font-item: 12px; */
    }

    navbar{
        display: none;
    }

    .wrap-right .search {
        width: 300px;
    }

    .themDuAn .title{
        display: none;
    }

    .wrap-right .notic{
        display: none;
    }

    .hamburger-bar{
        display: block;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    :root{
        --width-header: 390px;
        /* --font-header: 18px;
        --font-item: 10px; */
    }   
    .wrap-right .search{
        display: none;
    }

    .mobile-menu .search{
        display: flex;
    }
}
@media screen and (max-width: 420px) {
    :root{
        --width-header: 340px;
        /* --font-header: 18px;
        --font-item: 10px; */
    }   
    .search{
        display: none;
    }

    .wrap-right{
        display: flex;
        align-items: center;
        gap: 16px;
    }
}