.container {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
}

.banner {
    background-color: var(--accent-color);
    box-shadow: var(--shadow);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 0;
    gap: 125px;
}



.avatar-wrapper {
    position: relative;
    width: 434px;
    height: 434px;
}

.avatar-img {
    width: 362px;
    height: 362px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.banner-right {
    display: flex;
    flex-direction: column;
    gap: 100px;
    .content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .introduce {
            width: 597px;
            font-weight: 700;
            font-size: 48px;
            color: var(--primary-color);
        }
        .info {
            font-weight: 500;
            font-size: 20px;
            color: var(--text-color);
        }
    }
    .btn-box {
        display: flex;
        gap: 22px;
    }
}

.mainContent {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    font-family: 'Inter';
    .main-left {
        width: 339px;
        height: 596px;
        display: flex;
        flex-direction: column;
        gap: 37px;
        padding: 24px 41px 0;
        background-color: var(--accent-color);
        border-radius: 20px;
        /* box-shadow: 8px 8px 8px 0px #00000033, -8px -8px 8px 0px #FFFFFF; */
        /* border: 1px solid #0000001A; */
        box-shadow: var(--shadow);
        .content {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .intro {
                color: var(--primary-color);
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 3px;
            }
            .text {
                color: var(--text-color);
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
    .main-right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-direction: column;
        border-radius: 20px;
        width: 882px;
        height: 889px;
        background-color: #F8F8F8;
        /* border: 1px solid #0000001A; */
        /* box-shadow: 5px 5px 10px 0px #00000033 inset, -8px -8px 8px 0px #FFFFFF inset; */
        box-shadow: var(--shadow);
        border-radius: 20px;
        .title {
            color: var(--primary-color);
            font-weight: 600;
            font-size: 24px
        }
        .project-box {
            max-width: 820px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 20px;
        }
        .project {
            border-radius: 20px;
            width: calc((100% - 20px)/2);
            height: 345px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: transform 0.4s ease;
            position: relative;
        }
        .item1 {
            background-image: url(../img/main/Pictures/Frame147.svg);
        }
        .item2 {
            background-image: url(../img/main/Pictures/Frame148.svg);
        }
        .item3 {
            background-image: url(../img/main/Pictures/Framea147.svg);
        }
        .item4 {
            background-image: url(../img/main/Pictures/Frame148a.svg);
        }
        .overlay {
            height: 338px;
            position: absolute;
            inset: 0;
            border-radius: 25px;
            padding: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #0009395e;
            backdrop-filter: blur(10px);
            color: #fff;
            opacity: 0;
            transition: 0.6s ease;
        }
        .project:hover .overlay {
            opacity: 1;
        }
        .overlay h3 {
            font-size: 24px;
            margin-bottom: 8px;
            color: var(--accent-color);
        }

        .overlay p {
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: -9%;
        }
        .active {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        /* footer */
        .card-footer {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .frame {
            margin-top: 30px;
        }
        .item img {
            margin-right: 8px;
        }
        .button {
            display: flex;
            justify-content: end;
            cursor: pointer;
        }
        .button:active {
            transform: scale(0.9);
        }

        .stats {
            display: flex;
            gap: 16px;
            font-size: 14px;
        }
        button {
            width: 148px;
            height: 42px;
            border-radius: 20px;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
            background-color: var(--primary-color);
            box-shadow: var(--shadow);
            transition: all 0.2s ease;
            border: 3px solid #e4e4e4;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #012f52;
        }
        button:active {
            transform: scale(0.95);
        }
    }
}


.slider{
    position: relative;
    height: 569px;
    overflow: hidden;
    font-family: 'Inter';
    button {
        width: 49px;
        height: 49px;
        border-radius: 50px;
        align-items: center;
        justify-content: center;
        display: flex;
        box-shadow: 4px 4px 4px 0px #00000040, -4px -4px 4px 0px #FFFFFF;
        background-color: #F8F8F8;
    }
}
.slider-item{
    position: absolute;
    width: 340px;
    height: 431px;
    text-align: justify;
    box-shadow: 8px 8px 8px 0px #00000040, -8px -8px 8px 0px #FFFFFF;
    border: 2px solid #e4e4e4;
    background: var(--accent-color);
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 150px);
    top: 69px;
    box-sizing: border-box;
    padding: 62.5px 30px;
    gap: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .top {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
    }
    .bottom  {
        color: var(--text-color);
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }
}
#next, #prev{
    position: absolute;
    top: 50%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-family: monospace;
    font-weight: bold;
    left: 10px;
    cursor: pointer;
}
#next, #prev:active {
    transform: scale(0.9);
}
#next{
    left: unset;
    right: 10px;
}
h2 {
    color: #0090FF;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 358px;
    margin-top: 20px;
    background: var(--accent-color);
    font-family: 'Inter';
    box-shadow: var(--shadow);
    .frame1 {
        width: 95%;
        max-width: 1277px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
        .item1 {
            display: flex;
            flex-direction: column;
            gap: 16px;
            .logo {
                font-weight: 500;
                font-size: 32px;
                color: #000000;
                span {
                    font-weight: 400;
                    font-size: 32px;
                    color: var(--primary-color);
                }
            }
            .discript {
                display: flex;
                flex-direction: column;
                gap: 10px;
                p {
                    color: #000000;
                    font-weight: 400;
                    font-size: 20px;
                    margin: 0;
                    cursor: pointer;
                }
            }
        }
        .wrap {
            display: flex;
            flex-direction: row;
            width: 70%;
            max-width: 883px;
            align-items: center;
            justify-content: space-between;
            .item2 {
                display: flex;
                flex-direction: column;
                gap: 16px;
                .title {
                    color: var(--primary-color);
                    font-weight: 600;
                    font-size: 28px;
                }
                .option {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    p {
                        color: #000000;
                        font-weight: 400;
                        font-size: 20px;
                        margin: 0;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .line {
        width: 95%;
        max-width: 1277px;
        height: 1px;
        background-color: #000000;
        margin-bottom: 32px;
    }
    .coppyright {
        color: #000000;
        font-weight: 400;
        font-size: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 105px 0;
        gap: 40px;
    }
}

@media screen and (max-width: 1100px) {
    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 105px 0;
        gap: 40px;
    }
    .banner-right {
        display: flex;
        flex-direction: column;
        gap: 100px;
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            .introduce {
                width: 597px;
                font-weight: 700;
                font-size: 48px;
                color: var(--primary-color);
                text-align: center;
            }
            .info {
                width: 597px;
                font-weight: 500;
                font-size: 20px;
                color: var(--text-color);
                text-align: center;
            }
        }
        .btn-box {
            display: flex;
            gap: 22px;
        }
    }
}