.hero-section{
    width: 100%;
}

.wrap-hero{
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    min-height: 700px;
    /* background-color: aliceblue; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.head-wrap{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.head-wrap .heading{
    font-size: 36px;
    max-width: 750px;
    color: var(--primary-color);
}

.head-wrap .title{
    font-size: 16px;
    max-width: 520px;
}

.cta-btn-wrap{
    display: flex;
    gap: 20px;
}